{{#each model as |book|}}
  <div class="large-4 large-center columns">
    <div class="card-profile-stats">
    <div class="card-profile-stats-intro">
      <img class="card-profile-stats-intro-pic" src="{{if book.image book.image 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png'}}" alt="profile-image" />
      <div class="card-profile-stats-intro-content">
        <strong>{{book.title}}</strong>
        <p class="author-title">{{if book.author 'Book by '}}{{book.author}}</p>
        <p class="author-title">Status: {{if book.isAvailable 'Available' 'Not Available'}}</p>

      </div> <!-- /.card-profile-stats-intro-content -->
    </div> <!-- /.card-profile-stats-intro -->

    <hr />

    <div class="card-profile-stats-container">
      {{if book.description book.description 'No Description Available'}}
    </div> <!-- /.card-profile-stats-container -->
    <p>
      <hr />
    </p>
    <div class="card-profile-stats-more">
      <p class="card-profile-stats-more-link">
        <ul>
          <li>
            {{#paper-button primary=true onClick=(transition-to 'issue' book.id)}}{{paper-icon 'person-pin' size = 36}}{{#tooltip-on-component enableLazyRendering=true side='bottom'}}Issue this Book to user{{/tooltip-on-component}}{{/paper-button}}
          </li>
          <li>
            {{#paper-button onClick=(transition-to 'books.edit' book)}}{{paper-icon 'mode-edit' size = 36}}{{#tooltip-on-component enableLazyRendering=true side='bottom'}}Edit this Book{{/tooltip-on-component}}{{/paper-button}}
          </li>
          <li>
            {{delete-item model=book}}
          </li>
        </ul>
      </p>
      <div class="card-profile-stats-more-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem libero fugit, pariatur maxime! Optio enim, deserunt quia molestiae fugiat delectus, dolore et esse nostrum, quod autem necessitatibus fugit soluta repellendus.
        </p>
      </div> <!-- /.card-profile-stats-more-content -->
    </div> <!-- /.card-profile-stats-more -->
    </div> <!-- /.card-profile-stats -->
  </div>
{{/each}}

{{#paper-button warn=true class="add-button" iconButton=true raised=true onClick=(transition-to 'books.new')}}{{paper-icon "add"}}{{#tooltip-on-component enableLazyRendering=true side='left'}}Add new Book to library{{/tooltip-on-component}}{{/paper-button}}
{{back-botton}}
